@charset "UTF-8";

.blackout {
    background-color: rgba(24, 25, 27, 0.8);
    /*background-image: url(../img/header/blackout.png);*/ /*img для кроссбраузерности, браузеры не поддерживающие rgba*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
