<div class="modal fade modalAlert" id="modalAlert-success" tabindex="-1" role="status" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert text-success" id="success-alert">
                    <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <div class="h2 text-center">Спасибо за заявку, менеджер сейчас с Вами свяжется.</div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
