<!DOCTYPE html>
<html lang="ru">

<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Подача эвакуатора за 30 минут с юр. гарантией перевозки любой техники до 40 тонн</title>

    <meta name="description" content="" />
    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Purouski Ilya">

	<!--<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="icon" type="image/gif" href="img/favicon.gif">-->

    <meta name="robots" content="noindex,nofollow,noodp,noarchive,nosnippet">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    <!-- build:css css/vendor.css -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- FancyBox -->
    <!--<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">-->

    <!-- bower:css -->
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:css css/main.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css?v=0.4.10.3" />
    <!-- endbuild -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic' rel='stylesheet' type='text/css'>

</head>

<body lang="ru">

    <section class="page">
