<div class="modal fade modal-vertical-centered" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="orderFormLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <h4 class="modal-title" id="orderFormLabel">Оставьте, пожалуйста, заявку и наш менеджер свяжется с Вами в течении 5 минут</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        //= forms/formOrder.html
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <p id="result"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <a href="tel:+375447685685" class="btn phone modal-footer-btn">+375 44 7 685 685</a>
                    </div>
                    <div class="col col-xs-6">
                        <button type="button" class="btn btn-v9 bg_h modal-footer-btn submit" data-submit="#formOrder">Заказать</button>
                    </div>
                </div>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
