<section id="benefits">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="benefit">
                    <div class="visual">
                        <p class="ico">
                            <img src="assets/img/benefits/icons/money@2x.png" height="44" width="40" alt="деньги" />
                        </p>
                        <p class="ben-title">
                            Способы <br />
                            оплаты
                        </p>
                    </div>
                    <p class="desc">
                        Вы можете оплатить как наличным, <br />
                        так и безналичным способом расчета, <br />
                        после оказания наших услуг.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefit">
                    <div class="visual">
                        <p class="ico">
                            <img src="assets/img/benefits/icons/shield@2x.png" height="39" width="35" alt="деньги" />
                        </p>
                        <p class="ben-title">
                            Юр. гарантия <br />
                            перевозки
                        </p>
                    </div>
                    <p class="desc">
                        Предоставляем юридическую гарантию <br />
                        на перевозку всех типов транспортных <br />
                        средства до 40 тонн.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefit">
                    <div class="visual">
                        <p class="ico">
                            <img src="assets/img/benefits/icons/phone@2x.png" height="38" width="32" alt="деньги" />
                        </p>
                        <p class="ben-title">
                            Окончательная <br />
                            цена по телефону
                        </p>
                    </div>
                    <p class="desc">
                        При предоставлении всей информации <br />
                        о ситуации, менеджер скажет вам  <br />
                        окончательную цену.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
