<section id="carpark">
    <div class="container">
        <div class="row title">
            <h2>Автопарк</h2>
            <hr />

            <p>
                Собственный автопарк позволяет <br />
                предоставить клиентам лучшие цены.
            </p>
        </div>
    </div>

    <div class="container">

        <div class="row tiles">

           <div class="col-xs-12">
               <div class="row">

                    <div class="col col-sm-5">
                        <div class="row r">
                            <div class="col car car-1 col-sm-6"><div class="blackout"></div></div>
                            <div class="col car car-2 col-sm-6"><div class="blackout"></div></div>
                        </div>
                        <div class="row r">
                            <div class="col car car-3 img2x img2y col-sm-12"><div class="blackout"></div></div>
                        </div>
                        <div class="row r">
                            <div class="col car car-4 img2x col-sm-12"><div class="blackout"></div></div>
                        </div>
                    </div>

                    <div class="col col-sm-7">
                        <div class="row r">
                            <div class="col car img2x img2y car-5 col-sm-8"><div class="blackout"></div></div>
                            <div class="col car car-6 img2y col-sm-4"><div class="blackout"></div></div>
                        </div>
                        <div class="row r">
                            <div class="col car car-7 img2x col-sm-8"><div class="blackout"></div></div>
                            <div class="col car car-8 col-sm-4"><div class="blackout"></div></div>
                        </div>
                        <div class="row r">
                            <div class="col car car-9 col-sm-4"><div class="blackout"></div></div>
                            <div class="col car car-10 img2x col-sm-8"><div class="blackout"></div></div>
                        </div>
                    </div>

               </div>
           </div>

        </div>

    </div>
</section>
