<section id="services">
    <div class="container">
        <div class="row title">
            <h2>Наши услуги</h2>
            <hr />

            <p>
                Работаем более 9 лет на территории <br />
                Беларуси и России.
            </p>
        </div>
    </div>

    <div class="container">

        <div class="row tiles">

           <div class="col-xs-12">
               <div class="row">

                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile tile-lg bg1" data-service="[услуги] Легковые автомобили" role="button" id="service_cars">
                                    <p class="price">от 350 тыс.</p>
                                    <h4>
                                        Легковые <br />
                                        автомобили
                                    </h4>

                                    <p>
                                        Все марки легковых <br />
                                        автомобилей до 2,5 тонн.
                                    </p>

                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile bg2" data-service="[услуги] Аккумулятор" role="button" id="service_battery">
                                    <p class="price">от 200 тыс.</p>
                                    <h4>Аккумулятор</h4>
                                    <p>
                                        Анализ неисправностей, <br />
                                        заряд АКБ, запуск авто.
                                    </p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row r">
                            <div class="col-sm col-sm-6">
                                <div class="tile bg1" data-service="[услуги] Спец техника" role="button" id="service_specMachinery">
                                    <p class="price">от 450 тыс.</p>
                                    <h4>
                                        Спец <br />
                                        техника
                                    </h4>
                                    <p></p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <div class="col-sm col-sm-6">
                                <div class="tile bg2" data-service="[услуги] Накачка колёс" role="button" id="service_pumpingWheels">
                                    <p class="price">от 200 тыс.</p>
                                    <h4>
                                        Накачка <br />
                                        колес
                                    </h4>
                                    <p></p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile bg2" data-service="[услуги] Топливо" role="button" id="service_fuel">
                                    <p class="price">от 200 тыс.</p>
                                    <h4>Топливо</h4>
                                    <p>
                                        Доставка или слив любого <br />
                                        вида топлива.
                                    </p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row r">
                            <div class="col-sm col-sm-6">
                                <div class="tile bg2" data-service="[услуги] Замена колёс" role="button" id="service_changingWheels">
                                    <p class="price">от 200 тыс.</p>
                                    <h4>
                                        Замена <br />
                                        колес
                                    </h4>
                                    <p></p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <div class="col-sm col-sm-6">
                                <div class="tile bg1" data-service="[услуги] Мото техника" role="button" id="service_moto">
                                    <p class="price">от 300 тыс.</p>
                                    <h4>
                                        Мото <br />
                                        техника
                                    </h4>
                                    <p></p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile bg4" data-service="[услуги] Доп. ограничение" role="button" id="service_addRestrictions">
                                    <p class="price">от 100 тыс.</p>
                                    <h4>Доп ограничение</h4>
                                    <p>
                                        Например: не заводится, <br />
                                        блокировка колес и т.п.
                                    </p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile bg2" data-service="[услуги] Сигнализация" role="button" id="service_signaling">
                                    <p class="price">от 200 тыс.</p>
                                    <h4>Сигнализация</h4>
                                    <p>
                                        Снятие и разблокировка, <br />
                                        отключение иммобилайзера.
                                    </p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile bg3" data-service="[услуги] За городом" role="button" id="service_outsideCity">
                                    <p class="price">7500 за км</p>
                                    <h4>За городом</h4>
                                    <p>
                                        Километраж учитывается <br />
                                        в обе стороны.
                                    </p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile tile-lg bg1" data-service="[услуги] Джипы, минивены" role="button" id="service_jeepsMinivans">
                                    <p class="price">от 400 тыс.</p>
                                    <h4>
                                        Джипы, <br />
                                        минивены
                                    </h4>
                                    <p>
                                        Все типы транспортных <br />
                                        средств до 40 тонн.
                                    </p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tile bg1" data-service="[услуги] Манипулятор" role="button" id="service_manipulator">
                                    <p class="price">от 1.40 млн</p>
                                    <h4>Манипулятор</h4>
                                    <p>
                                        В случае блокировки колес, <br />
                                        коробки передач и т.п.
                                    </p>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
           </div>

        </div>

    </div>
</section>
