<footer id="footer" role="contentinfo">
    <div class="container footer-content">
        <div class="row">
            <div class="col col-sm-4">
                <h3>Контакты</h3>
                <p>Работаем круглосуточно без перерывов и выходных.</p>
                <div class="ct_b">
                    <p>+375 44 7 685 685</p>
                    <p>Некрасова 28, Минск</p>
                </div>
            </div>
            <div class="col col-sm-4">
                <h3>О компании</h3>
                <p>Предоставляем услуги эвакуации, техпомощи, перевозки любых  транспортных средств в РБ и РФ.</p>
            </div>
        </div>
    </div>
</footer>
