<header id="header">

    <nav class="navbar navbar-v6" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Переключение навигации</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <div class="logo-bg"></div>
                    <a class="navbar-brand" href="." role="banner">
                        Увезём
                    </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#services" class="scrollTo">Услуги</a>
                    </li>
                    <li>
                        <a href="#services" class="scrollTo">Стоимость</a>
                    </li>
                    <li>
                        <a href="#benefits" class="scrollTo">Преимущества</a>
                    </li>
                    <li>
                        <a href="tel:+375447685685" class="phone">+375 44 7 685 685</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="header-content" id="header-content">
        <div class="container">
            <div class="slider-bg-xs">
                <div class="row hmar">
                    <h1>
                        Срочная эвакуация <br />
                        любого вида транспорта
                    </h1>
                    <p class="addsc">
                        Подача эвакуатора за 30 минут по Минску <br />
                        с юридической гарантией перевозки.
                    </p>

                    <!-- Indicators -->
                    <!--<ul class="header-content-indicators" id="hc-indicators">
                    <li value="1" class="active"></li>
                    <li value="2"></li>
                    <li value="3"></li>
                </ul>-->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col anim col-sm-4 bg1" id="head-service_tow">
                            <h4>Эвакуация</h4>
                            <p>
                                Более 17 эвакуаторов в автопарке,
                                <br /> различного типа погрузки. Для любых
                                <br /> типов автомобилей и спец техники.
                            </p>
                            <a href="#" class="btn btn-v6" data-toggle="modal" data-target="#modalOrder" data-service="Эвакуация" role="button">Заказать</a>
                        </div>
                        <div class="col anim col-sm-4 bg2" id="head-service_tecAsist">
                            <h4>Техпомощь</h4>
                            <p>
                                Услуги связанные с неисправностью
                                <br /> аккумулятора, топливной системы,
                                <br /> двигателя, колес, сигнализации и т.п.
                            </p>
                            <a href="#" class="btn btn-v6" data-toggle="modal" data-target="#modalOrder" data-service="Техпомощь" role="button">Заказать</a>
                        </div>
                        <div class="col anim col-sm-4 bg3" id="head-service_shipping">
                            <h4>Перевозка</h4>
                            <p>
                                Перевозка в пределах города,
                                <br /> за городом, доставка из автосалона,
                                <br /> на мероприятие, на утилизацию.
                            </p>
                            <a href="#" class="btn btn-v6" data-toggle="modal" data-target="#modalOrder" data-service="Перевозка" role="button">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
